<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:u="http://typo3.org/ns/Typoheads/Utilities/ViewHelper"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Default"/>



<f:section name="Header">
    <h1>{u:translate.backend(key: 'backendModule.redirects.listNotFound.title', extension: 'redirect_manager')}</h1>
    <f:be.infobox state="-1">{u:translate.backend(key: 'backendModule.redirects.listNotFound.description', extension: 'redirect_manager')}</f:be.infobox>
</f:section>



<f:section name="Main">
    <div data-action="listNotFound">
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead>
                <tr>
                    <th>
                        <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.status"/>
                    </th>
                    <th>
                        <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.url"/>
                    </th>
                    <th title="{u:translate.backend(key: 'tx_redirectmanager_not_found_log.hit_count', extension: 'redirect_manager')}">
                        <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.hitCount"/>
                    </th>
                    <th title="{u:translate.backend(key: 'tx_redirectmanager_not_found_log.has_reappeared_count', extension: 'redirect_manager')}">
                        <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.hasReappearedCount"/>
                    </th>
                    <th>
                        <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.actions"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{entries}" as="entry">
                    <f:render partial="ListNotFound/Entry" arguments="{entry: entry}"/>
                </f:for>
                </tbody>
            </table>
        </div>
    </div>
</f:section>



</html>
