<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:u="http://typo3.org/ns/Typoheads/Utilities/ViewHelper"
    data-namespace-typo3-fluid="true"
>

<tr>
    <td class="status">
        <f:switch expression="{entry.status}">
            <f:case value="isResolved">
                <span class="is-resolved">
                    <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.status.isResolved"/>
                </span>
            </f:case>
            <f:case value="isResolvedButHasReappeared">
                <span class="is-resolved-but-has-reappeared">
                    <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.status.isResolvedButHasReappeared"/>
                </span>
            </f:case>
            <f:case value="isNew">
                <span class="is-new">
                    <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.status.isNew"/>
                </span>
            </f:case>
            <f:case value="hasNewHits">
                <span class="has-new-hits">
                    <u:translate.backend extension="redirect_manager" key="backendModule.redirects.listNotFound.table.status.hasNewHits"/>
                </span>
            </f:case>
        </f:switch>
    </td>
    <td class="url">
        <a href="{entry.url}" target="_blank" title="{entry.url}">
            <f:format.crop maxCharacters="200">{entry.url}</f:format.crop>
        </a>
    </td>
    <td class="hit-count">
        {entry.hitCount}
    </td>
    <td class="has-reappeared-count">
        {entry.hasReappearedCount}
    </td>
    <td class="crdate">
        <f:format.date date="{entry.crdate}" format="d.m.Y, H:i"/>
    </td>

    <td class="actions">
        <f:spaceless>
            <div class="btn-group">
                <f:link.typolink
                    parameter="{entry.url}"
                    target="_blank"
                    class="btn btn-default"
                    title="{u:translate.backend(key: 'backendModule.redirects.listNotFound.table.actions.view', extension: 'redirect_manager')}"
                >
                    <c:icon identifier="actions-eye"/>
                </f:link.typolink>
                <b:link.editRecord
                    uid="{entry.uid}"
                    table="tx_redirectmanager_not_found_log"
                    class="btn btn-default"
                    title="{u:translate.backend(key: 'backendModule.redirects.listNotFound.table.actions.edit', extension: 'redirect_manager')}"
                >
                    <c:icon identifier="actions-open"/>
                </b:link.editRecord>

                <f:link.action
                    action="deleteNotFoundLog"
                    arguments="{entry: entry}"
                    class="btn btn-default"
                    title="{u:translate.backend(key: 'backendModule.redirects.listNotFound.table.actions.delete', extension: 'redirect_manager')}"
                >
                    <c:icon identifier="actions-delete"/>
                </f:link.action>

                <f:if condition="{entry.status} == 'isResolved'">
                    <f:then>
                        <f:link.action
                            action="unresolveNotFoundLog"
                            arguments="{entry: entry}"
                            class="btn btn-default"
                            title="{u:translate.backend(key: 'backendModule.redirects.listNotFound.table.actions.unresolve', extension: 'redirect_manager')}"
                        >
                            <c:icon identifier="actions-close"/>
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action
                            action="resolveNotFoundLog"
                            arguments="{entry: entry}"
                            class="btn btn-default"
                            title="{u:translate.backend(key: 'backendModule.redirects.listNotFound.table.actions.resolve', extension: 'redirect_manager')}"
                        >
                            <c:icon identifier="actions-check"/>
                        </f:link.action>
                    </f:else>
                </f:if>

                <b:link.newRecord
                    table="sys_redirect"
                    class="btn btn-default"
                    title="{u:translate.backend(key: 'backendModule.redirects.listNotFound.table.actions.createRedirect', extension: 'redirect_manager')}"
                    onclick="var url = new window.URL('{entry.url}');this.href = this.href + '&defVals[sys_redirect][source_path]=' + url.pathname + '&defVals[sys_redirect][source_host]=' + url.hostname"
                >
                    <c:icon identifier="mimetypes-x-sys_redirect"/>
                </b:link.newRecord>
            </div>
        </f:spaceless>
    </td>
</tr>


</html>
